<!DOCTYPE html>
<html lang="UTF-8">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/page.css" />
	<title>Document</title>
</head>
<body>


	<table class="table table-border table-bordered table-bg table-hover table-sort">
    <thead>
    <a href="__CONTROLLER__/insert.html">新增</a>
      <tr class="text-c">
       
        <th width="80">ID</th>
        <th width="100">标题</th>
        <th width="150">封面</th>
        <th width="150">时间</th>
        <th width="150">浏览数量</th>
        <th width="150">作者</th>
        <th width="150">发布状态</th>
        <!-- <th width="150">文章</th> -->
        <th width="150">操作</th>
      </tr>
    </thead>
    <tbody>
    <volist name="list"  id="vol">
      	<tr>
        
        <td >{$vol.id}</td>
        <td >{$vol.title}</td>
        <td >{$vol.banner-pic}</td>
        <td >{$vol.time}</td>
        <td >{$vol.number}</td>
        <td >{$vol.author}</td>
        <td >{$vol.status}</td>
        <!-- <td>{$vol.content|htmlspecialchars_decode}</td> -->
        <td ><a href="__CONTROLLER__/del/id/{$vol.id}">启用</a>|<a href="__CONTROLLER__/edit/id/{$vol.id}">编辑</a>|<a href="__CONTROLLER__/delete/id/{$vol.id}"onClick="return confirm('确定要删除吗?')">删除</a></td>
      	
      	</tr>
      	</volist>

    </tbody>

  </table>
    <div >{$page}</div>
</body>
</html>