<!DOCTYPE html>
<html lang="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form id="form1" action="__CONTROLLER__/insert"  enctype="multipart/form-data" method="post">
	
	title:<input type="text" name="title" > <br>
	banner-pic:<input type="file" name="banner-pic"><br>
	time:<input type="date" name="time"><br>
	number:<input type="text" name="number" ><br>
	author:<input type="text" name="author" ><br>
	content:<input type="text" name = "content" ><br>
	status:<input type="text" name="status" ><br>
	<input type="submit" name="sub" value="提交">
	</form>
</body>
</html>